<div id="fh5co-services" data-section="services">
  {{ with .Site.Params.services }}
  {{ if .video }}
  <div class="fh5co-video"><a href="{{ with .vidlink }}{{ . }}{{ end }}" class="popup-vimeo"><i class="icon-play2"></i></a> <span>Watch video</span></div>
  {{ end }}
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
    
    {{ range .item }}
    <div class="col-md-4">
      <div class="service">
	<div class="icon"><i class={{ .icon }}></i></div>
	<h3>{{ .title }}</h3>
	<p>{{ .description | markdownify }}</p>
      </div>
    </div>
    {{ end }}

	  <button type="button" onclick="javascript:openChat">open chat</button>

    <div class="col-md-12 text-center">
      <p><a href="#" class="btn btn-primary btn-outline fh5co-content-nav" data-nav-section="contact">Get In Touch</a></p>
      <p><a href="#" class="bai-open-chat-btn btn btn-primary btn-outline fh5co-content-nav" >Boost</a></p>
    </div>
	  
    <script src="https://partner3.boost.ai/chatPanel/chatPanel.js"></script> 
    <script type="application/javascript">
		// Create chat panel
		var chatPanel = window.boostInit("partner3");  
	// filter on vajalik vestluste sildistamiseks
	//	 title:['Test'],
      // filterValues:['perh'],
	//	 hyperlinksTargetBlank:1
		// showLinkClick: 'true'

    // eesti keel on vaikimisi aktiivne
    // inglise lehelt avades vajalik määrata tervitusteksti keel 'en-US' ja vene lehelt 'ru-RU'
	// language:'ru'  

//		});
	  //  setTimeout (() => { chatPanel.triggerAction();}, 3927);  // 3927

		// Open panel on click
		document.querySelector('.bai-open-chat-btn')
			.addEventListener('click', function () {chatPanel.show()});
			// .addEventListener('load', function () {chatPanel.triggerAction()});
		// Chati avamiseks automaatselt
		//	chatPanel.show();  

		// Chati avamine klikkides

	//	 function openChat()	{ chatPanel.show(); }

    </script>
	  
   <!-- Suve chat end -->

  </div>
  {{ end }}
</div> <!-- END fh5co-services -->
